.AppRoot{
  margin-left: 10%;
  margin-right: 10%;
}

.createForm{
  align-items: center;
  text-align: center;
}

.responseDiv h1{
  font-weight: normal;
}

.responseDiv{
  border-width: 1px;
  border-style: solid;
  border-color: black;
}

.urlText{
  text-decoration: none;
  font-size: 2vw;
}

.inputButton{
  width:100%;
}

.dropdown-toggle,
.dropdown-menu {
  width: 100%;
}

.titleTextDiv{
  margin: auto;
  width: 60%;
  text-align: center;
}

.centerText{
  text-align: center;
}

.App {
  text-align: center;
}
